---
- name: Download repo key
  ansible.builtin.get_url:
    url: https://apt.mopidy.com/mopidy.gpg
    dest: "{{ mopidy_keyring }}"
  tags:
    - mopidy

- name: Add apt repository
  ansible.builtin.apt_repository:
    repo: "deb [signed-by={{ mopidy_keyring }}] https://apt.mopidy.com/ {{ mopidy_distro }} main contrib non-free"
    filename: mopidy
    update_cache: true
    state: present
  tags:
    - mopidy

- name: Install required packages
  loop: "{{ mopidy_general_packages + mopidy_extra_packages }}"
  ansible.builtin.package:
    name: "{{ item }}"
    state: present
  tags:
    - mopidy

...
